// Colors
$delivery-blue: blue;
$delivery-green: mediumspringgreen;
$delivery-white: white;
$delivery-dark-gray: gray;
$delivery-gray: lightgray;
$delivery-red: red;

// Text
$delivery-text: 12px;
$delivery-subtitle: 14px;
$delivery-title: 20px;
$delivery-brand: 28px;

// Layout
$delivery-footer-height: 50px;
$delivery-header-height: 50px;
