// Colors
$delivery-dark-gray: blue;
$delivery-blue: blue;
$delivery-green: green;
$delivery-white: white;
$delivery-dark-gray: gray;
$delivery-gray: white;
$delivery-red: red;

// Text
$delivery-text: 12px;
$delivery-title: 14px;
$delivery-brand: 28px;