// Colors
$delivery-light-blue: #EFF4F8;
$delivery-blue: #0068D1;
$delivery-green: #1DBB93;
$delivery-white: white;
$delivery-dark-gray: #2A3F54;
$delivery-gray: #EBF0F3;
$delivery-red: #EB5947;

// Text
$delivery-text: 12px;
$delivery-subtitle: 14px;
$delivery-title: 20px;
$delivery-brand: 28px;

// Layout
$delivery-footer-height: 50px;
$delivery-header-height: 50px;
