@import 'src/app/core/theme/variables';

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.mt-header-height {
    margin-top: $delivery-header-height;
}