/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'src/app/core/theme/variables';

html, body {
    font-size: $delivery-text;
    margin: 0;
    height: 100%;
}

.primary {
    background-color: $delivery-dark-gray;
    color: $delivery-white;
    margin: 5px;
    padding: 5px 15px;
}