<h2 class="filter__title">Filtros:</h2>
<form class="filter__form">
    <section class="d-inline-block filter__form__name">
        <label for="name" class="mb-0">Nombre:</label><br>
        <input
            type="text"
            placeholder="Nombre"
            id="name"
            [(ngModel)]="filterTerms.name"
            name="name"
            (ngModelChange)=filterList()>
    </section>

    <section class="d-inline-block">
        <label for="description" class="mb-0">Descripción:</label><br>
        <input
            type="text"
            placeholder="Descripción"
            id="description"
            [(ngModel)]="filterTerms.description"
            name="description"
            (ngModelChange)=filterList()>
    </section>
</form>
<br>
<h2 class="filter__title">Deliveries:</h2>
<div class="container">
    <section class="row">
        <delivery-restaurant-card
            *ngFor="let restaurant of restaurants$ | async"
            [restaurant]="restaurant"
            (navigate)="navigateToPhase2()"
            class="col-3">
        </delivery-restaurant-card>
    </section>
</div>