<h2 class="list__title">{{ title$ | async }}</h2>
<section class="row">
    <section class="col-6">
        <ng-container *ngIf="(isPhase2$ | async); else phase3">
            <section class="row">
                <section class="col-3">
                    <div
                        [ngClass]="selectionState(section.id)"
                        (click)="showSectionProducts(section.id)"
                        *ngFor="let section of (sections$ | async)">{{ section.name }}</div>
                </section>
                <section class="col-9">
                    <table class="list__products">
                        <tr *ngFor="let product of (productsBySection$ | async)">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | currency }}</td>
                            <td>
                                <fa-icon tooltip="{{ product.detail }}" class="list__products__search" [icon]="faSearch"></fa-icon>
                                <fa-icon class="list__products__add" (click)="addProduct(product)" [icon]="faPlusCircle"></fa-icon>
                            </td>
                        </tr>
                    </table>
                </section>
            </section>
        </ng-container>
        <ng-template #phase3>
            <section class="row contactForm">
                <section class="col-3">
                    <div class="contactForm__label" for="firstName">Nombre</div>
                    <div class="contactForm__label" for="lastName">Apellido</div>
                    <div class="contactForm__label" for="address">Direccion</div>
                    <div class="contactForm__label" for="mobile">Telefono</div>
                    <div class="contactForm__label" for="email">Email</div>
                </section>
                <section class="col-9">
                    <div><input [(ngModel)]="contact.firstName" class="contactForm__input" type="text" placeholder="Nombre" id="firstName"></div>
                    <div><input [(ngModel)]="contact.lastName" class="contactForm__input" type="text" placeholder="Apellido" id="lastName"></div>
                    <div><input [(ngModel)]="contact.address" class="contactForm__input" type="text" placeholder="Direccion" id="address"></div>
                    <div><input [(ngModel)]="contact.mobile" class="contactForm__input" type="text" placeholder="Telefono" id="mobile"></div>
                    <div><input [(ngModel)]="contact.email" class="contactForm__input" type="text" placeholder="Email de contacto" id="email"></div>
                </section>
            </section>
        </ng-template>
    </section>
    <section class="col-6">
        <table class="list__purchase">
            <tr class="list__purchase__header">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let wishItem of wishList">
                <td>
                    <fa-icon class="list__purchase__remove" (click)="removeProduct(wishItem.id)" [icon]="faTrash"></fa-icon>
                    {{ wishItem.name }}
                </td>
                <td><input class="list__purchase__input" [(ngModel)]="wishItem.quantity" min="1" type="number"></td>
                <td>{{ wishItem.price | currency }}</td>
                <td>{{ (wishItem.quantity * wishItem.price) | currency }}</td>
            </tr>
            <tr class="list__purchase__total">
                <th colspan="3"></th>
                <th>{{ purchaseTotal | currency }}</th>
            </tr>
        </table>
        <section class="d-flex flex-row-reverse mt-4" *ngIf="(isPhase2$ | async); else phase3Buttons">
            <button
                class="btn primary"
                (click)="navigateToPhase3()"
                [ngClass]="{'primary--disabled': disableContinue || !isPurchaseEmpty}"
                [disabled]="disableContinue || !isPurchaseEmpty">Continuar</button>
            <button class="btn primary" (click)="navigateToPhase1()">Atrás</button>
        </section>
        <ng-template #phase3Buttons>
            <section class="d-flex flex-row-reverse mt-4">
                <button
                    class="btn primary"
                    (click)="submitDelivery(finalOrder)"
                    [ngClass]="{'primary--disabled': !isValidContactInfo || !isPurchaseEmpty}"
                    [disabled]="!isValidContactInfo || !isPurchaseEmpty">Realizar Pedido</button>
                <button class="btn primary" (click)="navigateToPhase2()">Atrás</button>
            </section>
        </ng-template>
        <ng-template #finalOrder>
            <section class="modal-header">
                <h4>Tu pedido</h4>
                <fa-icon class="close" (click)="modalRef.hide()" [icon]="faTimes"></fa-icon>
            </section>
            <section class="modal-body">
                <pre>{{ purchase | json }}</pre>
            </section>
        </ng-template>
    </section>
</section>